body{
  background-image: url(../images/outside.jpg);
}
h1{
  background-color: #4285F4;
  text-align: center;
  font-size: 5em;
  font-family: 'Product Sans', sans-serif;
  color: white;
  padding: 0.5em;
}

p{
  background-color: #4285F4;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Product Sans', sans-serif;
  color: white;
  padding-bottom: 1em;
}

form{
  width: auto;
  background-color: white;
  border-radius: 3em;
  border-color: red;
  outline: 0.25em solid gray;
  padding: 2em;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 5%;
  font-family: 'Product Sans', sans-serif;
}

#fname{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
}

#fname label{
    display: block;
}

#lname{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
}

#lname label{
	display: block;
}

#gdate{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;

}

#gdate label{
	display: block;
}

#cgpa{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;

}

#cgpa label{
	
}

#emailadd{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;

}

#emailadd label{
	display: block;
}

#fnum{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;

}

#fnum label{
	display: block;
}

#submitb{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
}

input[type=submit]:hover {
  background-color: red;	
}